Forum Page General Styles
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Prevent body scrolling */
}

.forum-page {
    /* max-width: 800px;
    margin: 0 auto;
    padding: 20px; */
    padding-top: 10;
    /* Adjust based on your form's actual height */
    overflow-y: auto;
    /* Enable scrolling within this container */
    height: 100vh;
    width: 70vw;
    box-sizing: border-box;
  }
  
  /* Form Styles */
  .submit-post-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    
  }
  
  .post-title-input, .post-content-textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .post-title-input {
    height: 40px;
  }
  
  .post-content-textarea {
    height: 100px;
    resize: vertical;
  }
  
  .submit-post-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-post-button:hover {
    background-color: #0056b3;
  }
  
  /* Posts Display Styles */
  .posts {
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minmax values as needed */
    gap: 20px; /* Space between grid items */
    margin-top: 20px;
    padding: 20px;
  }
  
  .post {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .post h3 {
    margin-top: 0;
  }
  
  /* Toast Container Customization (Optional) */
  /* You might need to override the react-toastify defaults with more specific selectors or !important if needed */
  .Toastify__toast--success {
    background-color: #28a745 !important;
  }
  
  .Toastify__toast--error {
    background-color: #dc3545 !important;
  }

  .sidebar a {
    cursor: pointer;
    /* Add other styling here as needed */
  }
  